body, html {
    height: 100%;
    width: 100%;
  }

body{
    background-image: url(../images/red_curtains.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;  
}

.col-sm-8{
    background-color:rgba(255, 255, 255, 0.651);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 20px;
}

.link{
    background-color: rgb(109, 109, 109);
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;
    margin-left:10%;
    margin-bottom:1%;
    text-align: center;
}

.link a{
    color: white;
    font-size: 20px;
    display: inline-block;
    height: inherit;
    width: inherit;
    padding: 10px;
    border: 10px;
}


.link:hover{
    background-color: rgb(165, 165, 165);
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 5%;
}

.navbar p {
    float: right;
    color: #ffffff;
    font-size: 16pt; 
    padding-right: 4%; 
    padding-top: 1%;

}

.navbar a {
    color: #ffffff; 

}

.navbar a:hover {
    color: gainsboro;
}

.content {
    padding-top: 5%;
    padding-left: 5%
}

h1, h2, h3, h4 {
    color: #828282;
}

p, li{
    color: #000000;
    font-size: 12pt
}

a{
    text-decoration: none !important;
}
