@font-face{
    font-family: 'NeonLight';
    src: url(../fonts/NeonLight/NeonLight-Regular.otf)
         format('opentype');
    src: url(../fonts/NeonLight/NeonLight-Regular.ttf)
             format('truetype');
}

body, html {
    height: 100%;
    width: 100%;
  }

body{
    background-image: url(../images/red_curtains.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%; 
    font-family: 'NeonLight'; 
}

.col-sm-8{
    background-color:rgba(255, 255, 255, 0.651);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 20px;
}

.link{
    background-color: rgb(109, 109, 109);
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;
    margin-left:10%;
    margin-bottom:1%;
    text-align: center;
}

.link a{
    color: white;
    font-size: 20px;
    display: inline-block;
    height: inherit;
    width: inherit;
    padding: 10px;
    border: 10px;
}

.link:hover{
    background-color: rgb(165, 165, 165);
}

.small-link{
    background-color: rgb(109, 109, 109);
    border-radius: 10px;
    width: 40%;
    box-sizing: border-box;
    margin-left:30%;
    margin-bottom:1%;
    text-align: center;
}

.small-link a{
    color: white;
    font-size: 12px;
    display: inline-block;
    height: inherit;
    width: inherit;
    padding: 10px;
    border: 10px;
}

.small-link:hover{
    background-color: rgb(165, 165, 165);
}

.navbar {
    overflow: hidden;
    background-color: black;
    height: 5%;
}

.navbar p {
    float: right;
    color: #ffffff;
    font-size: 16pt; 
    padding-right: 4%; 
    padding-top: 1%;

}

.navbar a {
    color: #ffffff; 

}

.navbar a:hover {
    color: gainsboro;
}

.content {
    padding-top: 5%;
    padding-left: 5%
}

.emph{
    text-align: center;
}

.emph h1{
    font-family: 'NeonLight';
    font-size: 80px;
    color: gold;
    background: #000000;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none !important;
}

input{
    width:60%;
}

.btn{
    color:#000000;
    background: #ffffff;
    border: 0;
    padding: 4px;
}

.btn:hover{
    color:#000000;
    background: #b9b9b9;
    border: 0;
    padding: 4px;  
}

input-append[type=button]{
    color: #000000;
    background: #ffffff;
}

input[type=text]{
    background-color: #ffffff;
    width:60%;
    margin:0;
}

input[type=button], [type=submit]{
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    width:10%;
    text-decoration: none;
    border:0;
    box-shadow: none;
    margin-top: 1%;
}

.btn.btn-primary.choose_submit{
    background-color: rgb(109, 109, 109);
    color: white;
}

.btn.btn-primary.choose_submit:hover {
    background-color: rgb(165, 165, 165);
    color: white;
}

.submit_holder{
    text-align: center;
}

.text_container{
    margin-left: 7%;
    margin-top: 0%;
    border: 0;
    padding: 0;
}

