{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if just_added %}
<h3>successfully added to database!</h3>
<br>
{% endif %}
<p>NAME:</p>
{{ dvd.name|lower }}
<br>
<p>DIRECTOR</p>
{{ dvd.director|lower }}
<br>
<p>RUN TIME:</p>
{{ dvd.runtime|lower }}
<br>
<p>IMDB RATING:</p>
{{ dvd.imdb_rating|lower }}
<br>
<p>BLURB</p>
{{ dvd.blurb|lower }}
<br>
<img src="{{ dvd.poster_url }}">
{% if just_added %}
<br>
<div class="small-link"><a href="{% url 'add_dvd' %}">add another</a></div>
<div class="small-link"<a href="{% url 'dvd_landing' %}">back home</a></div>
{% else %}
<br>
<div class="small-link"><a href="{% url 'randomise' count_dvds=count %}">roll again!</a></div>
<br>
{% crispy form %}
{% endif %}
{% endblock %}