{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if just_added %}
<h3>Successfully added to database!</h3>
<br>
{% endif %}
<p>Name:</p>
{{ dvd.name }}
<br>
<p>Director</p>
{{ dvd.director }}
<br>
<p>Run time:</p>
{{ dvd.runtime }}
<br>
<p>IMDB rating:</p>
{{ dvd.imdb_rating }}
<br>
<p>blurb</p>
{{ dvd.blurb }}
<br>
<img src="{{ dvd.poster_url }}">
{% if just_added %}
<br>
<a href="{% url 'add_dvd' %}">Add another</a>
<a href="{% url 'dvd_landing' %}">Back home</a>
{% else %}
<br>
<a href="{% url 'randomise' count_dvds=count %}">Roll again!</a>
<br>
{% crispy form %}
{% endif %}
{% endblock %}